# Path to Python executable that has Telethon installed (required)
# e.g. C:\\Users\\hp\\AppData\\Local\\Programs\\Python\\Python312\\python.exe
PYTHON_PATH=C:/Users/hp/AppData/Local/Programs/Python/Python314/python.exe

TINYFISH_API_KEY=sk-tinyfish-VSL9tstdbfYzTfXVVE5opK13h_16KzNy

TELEGRAM_API_ID=34979954
TELEGRAM_API_HASH=55a2f5c696725c26d9b2373e7c1ba1ad